@import "../node_modules/picnic/picnic.min.css";

.demo {
    background: #2d2d2d;
    color: #ffffff;
}

/*
body {
    padding: 10px;
    font-family: sans-serif;
}
*/

[aria-current]:not([aria-current="false"]) {
    font-weight: bold;
}

/*
.flex {
    //display: flex;
    //margin-left: -.6em;
    //width: calc(100% + .6em);
    //flex-wrap: wrap;
    //transition: all .3s ease;
}

.flex.badge > * {
    //background: #7fdbff;
    display: block;
    //padding: .3em 0;
    text-align: center;
}
*/